<!--
auther: booker
last_update: 16/02/2024
-->

<!DOCTYPE html>
<html>
	<head>
		{% include 'root.html' %}
		<link rel="stylesheet" href="../static/home.css">
	</head>
	<body>
		{% include 'header.html' %}
		<div id="main">
			<div id="b0">
				<h1>Find the right one<br> Be professional</h1>
				<ul>
					<li>achievement</li>
					<li>achievement</li>
					<li>achievement</li>
					<li>achievement</li>
				</ul>
			</div>
			<div id="b1">
				<video control>
					<source src="../static/video/test_video.mp4" type="video/mp4">
					Your browser does not support video playing.
				</video>
			</div>
			<div id="b2">
				<video control>
					<source src="../static/video/test_video.mp4" type="video/mp4">
					Your browser does not support video playing.
				</video>
			</div>
			<div id="b3">
				<h1>Wanna save time?<br>Agency to help you!</h1>
				<ul>
					<li>score <img src="https://www.w3schools.com/howto/img_avatar.png"> name</li>
					<li>score <img src="https://www.w3schools.com/howto/img_avatar.png"> name</li>
					<li>score <img src="https://www.w3schools.com/howto/img_avatar.png"> name</li>
					<li>score <img src="https://www.w3schools.com/howto/img_avatar.png"> name</li>
				</ul>
			</div>
		</div>

		{% include 'footer.html' %}
	</body>
</html>
