/*
auther: booker
last_update: 24/01/2024
*/

:root {
    /* Color choices
    BG: #130C28 #232136 #311860
    Element: #F2A471 #393750 #FCE5A2 #54DCEE
    Font: #F0F6FB */
    --bg1: #130C28;
    --bg2: #232136;
    --bg3: #311860;
    --element1: #F2A471;
    --element2: #393750;
    --element3: #FCE5A2;
    --element4: #54DCEE;
    --font1: #F0F6FB;


    --toolbar_len: 70px;
    --toolbar_space: 120px;
}

/* tool bar */
body {
    position: relative;

    margin: 0;
    padding: 0;

    box-sizing: border-box;
    width: 100%;
    height: 1500px;

    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: var(--font1);
    background: linear-gradient(180deg, var(--bg2), var(--bg3), var(--bg1));
}
nav {
    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;

    width: 95%;
    height: var(--toolbar_len);

    border-radius: 10px;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, var(--bg3), var(--bg1));
    opacity: 0.9;
    /* filter: brightness(150%); */
}
nav > #title {
    display: flex;
    align-items: center;

    margin: 20px;
    padding: 0;

    text-align: center;
    font-size: 30px;
}
nav > #toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 20px;

    flex-basis: 40%;
}
#toolbar > a {
    font-size: 1.50px;
    text-decoration: none;
    color: var(--font1);
}


/* main */
#main {
    box-sizing: border-box;
    margin-top: var(--toolbar_space);

    width: 100%;
    height: 100%;
    /* background-color: rgb(248, 214, 255); */
}

#upper-half {
    position: relative;

    width: 100%;
    height: 400px;

    /* background-color: var(--element3); */
}


#Details {
    position: absolute;
    top: 20px;
    left: 20px;

    box-sizing: border-box;
    padding-left: 10px;

    width: 40%;
    height: 400px;

    border-radius: 10px;

    background-color: var(--element2);
    opacity: 0.9;
    /* z-index: 10; */
}

#Pic {
    position: absolute;
    top: calc(20%);
    right: 100px;

    width: 40%;
    height: 40%;
    /* background-color: var(--element2); */
}

#Pic > img {
    width: 100%;
    height: 100%;

    object-fit: contain;
}
#Me {
    position: absolute;
    top: 2%;
    right: 15px;

    box-sizing: border-box;
    margin: 0;
    padding: 20px;

    height: 30px;

    border-radius: 15px;

    text-align: center;
    line-height: 0px;
    background-color: var(--element2);

}


#lower-half {
    display: flex;
    justify-content: space-around;

    margin: 100px 0;
    padding: 0;

    width: 100%;
    height: 800px;

    /* background-color: var(--element1); */
}

#lower-half > div {

    box-sizing: border-box;
    margin: 0;
    padding: 30px 40px;

    flex-basis: 47%;

    border-radius: 30px;

    background-color: var(--element2);
}

#Ranking-board > ul {

    margin: 0;
    padding: 0;

    list-style: none;
}
#Ranking-board > ul li {

    box-sizing: border-box;
    margin: 20px auto;
    padding: 0 20px;

    width: 100%;
    height: 100px;

    border-radius: 10px;

    text-align: left;
    line-height: 50px;

    background-color: rgb(69, 67, 85);

}

footer {
    position: absolute;
    bottom: 10px;

    margin: 0;
    padding: 20px, 0;

    width: 100%;

    text-align: center;
    /* color: #212529; */
    background-color: var(--element2);
}
